@{
    ViewData["Title"] = "Index";
}


<!-- Modal -->
<div class="modal fade" id="CarreraModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="CarreraH1">Agregar Carrera </h5>
        <input class="text-center" id="CarreraHiddenInputID" value="0" disabled/>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div id="CarreraForm" class="form-group">

            <label class="control-label">Carrera</label>
            <input type="text" class="form-control" id="textoInput" name="CarreraNombre" autocomplete="off" />

            <label class="control-label">Duracion</label>
            <input type="number" class="form-control" id="CarreraDuracionInput" name="CarreraDuracion" autocomplete="off" />
            

            <span class="text-danger" id="lbl-error"></span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-crear" type="button" onclick="CarreraGuardar()" class="btn btn-primary">Crear</button>
        
        <input id="btnDesHabilitar" type="button" onclick="CarreraEliminar()" class="btn btn-warning" value="Deshabilitar" />
        <input id="btnHabilitar" type="button" onclick="CarreraEliminar()" class="btn btn-success value="Habilitar" />
        <button id="btnEliminar" type="button" onclick="CarreraEliminar()" class="btn btn-danger">Eliminar</button>
      </div>
    </div>
  </div>
</div>


<div>
    <h1 class="display-4">Carreras</h1>

      <!-- Button trigger modal -->
      <div class="mb-2">
        <button type="button" onclick="AbrirModal()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalCarrera">
            Nuevo
        </button>
      </div>

 <div onclick="esconder()" class="btn btn-esconder">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
  <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
</svg>
Integrantes
</div>

<div>
    <canvas id="CarreraAlumnos"></canvas>
</div>
  <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre</th>
            <th>Duracion</th>
        </tr>
    </thead>
        <tbody id="CarrerasTabla">        
        </tbody>
  </table>
</div>

 @section Scripts{
    <script src="~/js/carrera.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="~/js/grafico.js"></script>
    <script src="chart.js/dist/chart.umd.js"></script>
}
