@{
    ViewData["Title"] = "Index";
}


<!-- Modal -->
<div class="modal fade" id="AlumnoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input id="AlumnoHiddenInputID" value="0" disabled/>
        <h5 class="modal-title" id="AlumnoH1">Agregar Alumno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <div id="AlumnoForm" class="form-group">

            <label class="control-label">Nombre Completo</label>
            <input type="text" class="form-control" id="AlumnoNombre" name="NombreAlumno" autocomplete="off" />

            <label class="control-label">Direccion</label>
            <input type="text" class="form-control" id="AlumnoDireccion" name="DireccionAlumno" autocomplete="off" />

            <label class="control-label">Fecha Nacimiento</label>
            <input type="datetime" class="form-control" id="AlumnoNacimiento" name="NacimientoAlumno" />

            <label class="control-label">DNI</label>
            <input type="number" class="form-control" id="AlumnoDNI" name="DNIAlumno" autocomplete="off" />

            <label class="control-label">Email</label>
            <input type="text" class="form-control" id="AlumnoEmail" name="EmailAlumno" autocomplete="off" />

            <label class="control-label">Carrera</label>
             @Html.DropDownList("CarreraID", null, htmlAttributes: new { @class = "form-control"})
            <span class="text-danger" id="lbl-error"></span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-crear" type="button" onclick="AlumnoGuardar()" class="btn btn-primary">Crear</button>
        <input id="btnDesHabilitar" type="button" onclick="AlumnoEliminar()" class="btn botones-modals" value="Deshabilitar" />
        <input id="btnHabilitar" type="button" onclick="AlumnoEliminar()" class="btn botones-modals" value="Habilitar" />
         <button id="btnEliminar" type="button" onclick="AlumnoEliminar()" class="btn btn-primary">Eliminar</button>

      </div>
    </div>
  </div>
</div>


<div>
    <h1 class="display-4">Alumnos</h1>

      <!-- Button trigger modal -->
      <div class="mb-2">
        <button type="button" onclick="AbrirModal()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAlumno">
            Nuevo
        </button>

      </div>
<div>
  <canvas id="AlumnosEdades" style="opacity: 0;"></canvas>
</div>

<div onclick="esconder()" class="btn btn-esconder">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
  </svg>
  Edades
</div>

<button onclick="CrearPDF()">PDF</button>
  <table id="table-alumno" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre Completo</th>
            <th>Direccion</th>
            <th>Fecha de Nacimiento</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Carrera</th>
        </tr>
    </thead>
        <tbody id="AlumnosTabla">
        </tbody>
  </table>
</div>



 @section Scripts{
    <script src="~/js/Alumno.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="~/lib/jspdf/jspdf.umd.js"></script>
    <script src="~/lib/jspdf/jspdf.plugin.autotable.js"></script>
}

<script>
    function CrearPDF(){
        var doc = new jspdf.jsPDF();
        var totalPagesExp = '{total_pages_count_string}';

        doc.autoTable({
            html: '#table-alumno',
            willDrawPage: function (data) {
                // Header
                doc.setFontSize(20)
                doc.setTextColor(40)
                doc.text('Alumnos', data.settings.margin.left + 15, 22)
            },
            columns: [
            {dataKey: 'Nombre Completo', title: 'Nombre Completo'},
            {dataKey: 'Direccion', title: 'Direccion'},
            {dataKey: 'Fecha de Nacimiento', title: 'Fecha de Nacimiento'},
            {dataKey: 'DNI', title: 'DNI'},
            {dataKey: 'Email', title: 'Email'},
            {dataKey: 'Carrera', title: 'Carrera'}
            ],
            bodyStyles: {minCellHeight: 10},
            theme:'grid',
            headStyles: { fillColor: [45, 26, 22] },
            columnStyles: { 1: { halign: 'center'} },
            didDrawCell:function (data){
                if(data.column.index === 1 && data.cell.section === "body"){
                    var td = data.cell.raw;
                    var dim = 20;
                    var xPosition = data.cell.x + 2.5;
                    var yPosition = data.cell.y + 2.5;
                }
            },
            didDrawPage: function (data) {
                // Footer
                var str = 'pagina ' + doc.internal.getNumberOfPages()
                // Total page number plugin only available in jspdf v1.0+
                if (typeof doc.putTotalPages === 'function') {
                    str = str + ' de ' + totalPagesExp
                }
                doc.setFontSize(10)

                // jsPDF 1.4+ uses getHeight, <1.4 uses .height
                var pageSize = doc.internal.pageSize
                var pageHeight = pageSize.height ? pageSize.height : pageSize.getHeight()
                doc.text(str, data.settings.margin.left, pageHeight - 10)
            },
            margin: { top: 30 }
        });
        if (typeof doc.putTotalPages === 'function') {
            doc.putTotalPages(totalPagesExp)
        }
        var dia = new Date();
        dia = `${dia.getDate()}-${dia.getMonth() + 1}-${dia.getYear()}`;
        doc.save(`Alumnos${dia}.pdf`);

    }
</script>