@{
    ViewData["Title"] = "Index";
}


<!-- Modal -->
<div class="modal fade" id="AlumnoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <input id="AlumnoHiddenInputID" value="0" disabled/>
        <h5 class="modal-title" id="AlumnoH1">Agregar Alumno</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        
        <div id="AlumnoForm" class="form-group">

            <label class="control-label">Nombre Completo</label>
            <input type="text" class="form-control" id="AlumnoNombre" name="NombreAlumno" autocomplete="off" />

            <label class="control-label">Direccion</label>
            <input type="text" class="form-control" id="AlumnoDireccion" name="DireccionAlumno" autocomplete="off" />

            <label class="control-label">Fecha Nacimiento</label>
            <input type="datetime" class="form-control" id="AlumnoNacimiento" name="NacimientoAlumno" />

            <label class="control-label">DNI</label>
            <input type="number" class="form-control" id="AlumnoDNI" name="DNIAlumno" autocomplete="off" />

            <label class="control-label">Email</label>
            <input type="text" class="form-control" id="AlumnoEmail" name="EmailAlumno" autocomplete="off" />

            <label class="control-label">Carrera</label>
             @Html.DropDownList("CarreraID", null, htmlAttributes: new { @class = "form-control"})
            <span class="text-danger" id="lbl-error"></span>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button id="btn-crear" type="button" onclick="AlumnoGuardar()" class="btn btn-primary">Crear</button>
        <input id="btnDesHabilitar" type="button" onclick="AlumnoEliminar()" class="btn botones-modals" value="Deshabilitar" />
        <input id="btnHabilitar" type="button" onclick="AlumnoEliminar()" class="btn botones-modals" value="Habilitar" />
         <button id="btnEliminar" type="button" onclick="AlumnoEliminar()" class="btn btn-primary">Eliminar</button>
        
      </div>
    </div>
  </div>
</div>


<div>
    <h1 class="display-4">Alumnos</h1>

      <!-- Button trigger modal -->
      <div class="mb-2">
        <button type="button" onclick="AbrirModal()" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ModalAlumno">
            Nuevo
        </button>
      </div>
<div>
  <canvas id="AlumnosEdades" style="opacity: 0;"></canvas>
</div>

<div onclick="esconder()" class="btn btn-esconder">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up"
    viewBox="0 0 16 16">
    <path fill-rule="evenodd"
      d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z" />
  </svg>
  Edades
</div>
 
  <table class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>N°</th>
            <th>Nombre Completo</th>
            <th>Direccion</th>
            <th>Fecha de Nacimiento</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Carrera</th>
        </tr>
    </thead>
        <tbody id="AlumnosTabla">        
        </tbody>
  </table>
</div>



 @section Scripts{
    <script src="~/js/Alumno.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/js/sweetalert.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

}